

<div class="sidebar">
    <h4 class="sidebarTitle"> <img src="assets/icons/creative-mind-innovation-svgrepo-com.svg" alt="" class="topicon">
        Creative Tim</h4>

    <div class="sidebarliste">

        <hr>
        <ul>
            <li> <img src="/assets/icons/dashboard-svgrepo-com.svg" alt="ikon" class="icons"> Dashborad</li>
            <li> <img src="/assets/icons/tables-couple-svgrepo-com.svg" alt="ikon" class="icons"> Tables</li>
            <li> <img src="/assets/icons/invoice-bill-svgrepo-com.svg" alt="ikon" class="icons"> Billing</li>
            <li> <img src="/assets/icons/3d-rotation-vr-svgrepo-com.svg" alt="ikon" class="icons"> Virtual Reality</li>
            <li> <img src="/assets/icons/text-direction-rtl-svgrepo-com.svg" alt="ikon" class="icons"> RTL</li>
            <li><img src="/assets/icons/notifications-alert-svgrepo-com.svg" alt="ikon" class="icons"> Notifactions</li>
        </ul>
        <br>
        <p class="accounttittle" style="color: gray;"> ACCOUNT PAGES</p>
        <ul>
            <li><img src="/assets/icons/profile-svgrepo-com.svg" alt="" class="icons"> Profile</li>
            <li><img src="/assets/icons/sign-in-svgrepo-com.svg" alt="" class="icons"> Sign In</li>
            <li><img src="/assets/icons/sign-up-application-svgrepo-com.svg" alt="" class="icons"> Sign Up</li>
        </ul>

    </div>

    <button class="documentation">Documentation</button>
    <br>
    <button class="upgrade">Upgrade to pro</button>

</div>
