.sidebar{
    width: 200px;
    height: 95%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
     position: fixed; 
    border: 2px solid rgba(64, 64, 64, 0.919); 
    border-radius: 1cap; 
    font-size: 20px;
    position: fixed;
    margin: 5px 5px 5px 15px;

}

.icons {
    width: 20px;
    height: 20px;
}

.topicon {
    width: 25px;
    height: 25px;
}

.accounttittle {
    margin-left: 20px;
}

.sidebarTitle {
    margin-left: 20px;
    font-size: 25px;
    margin-bottom: 0px;
}

hr {
    opacity: 0.2;
}


ul li{
    list-style: none;
    margin: 5 px;
    padding: 3%
}

button.documentation {
    padding: 10px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    margin: 120px 15px -10px 15px;
    border-radius: 0.5cap;
    background-color: white;
    
}

button.upgrade {
    
    padding: 10px;
    border-style: solid;
    border-color: black;
    color: white;
    font-size: 20px;
    margin: 10px 15px 5px 15px;
    border-radius: 0.5cap;
    background-color: black;
}