
.genelyapi {
    width: 100%;
    height: 100vh; 
    min-height: 100vh; 
    display: flex; 
}

.topCard {
    display: flex; 
    flex-direction: column;
    margin-left: 17%;
    padding: 0px;
    width: calc(100% - 17%); /* Sidebar genişliğini çıkar */
    flex: 1; /* Kalan alanı kapla */
    overflow: visible; /* Taşan içeriği göster */
}

