<div class="top-bar" style="display: flex; justify-content: space-between;">
    <div class="left-section" style="display: flex; flex-direction: column;">
        <p class="pd"><span class="current"> Pages / </span>Dashboard</p>
        <br>
        <h1 class="dashboardTittle"> Dashboard</h1>
        <p class="check">Check the sales, value and bounce rate by country.</p>
    </div>
    <div class="right-section" style="display: flex;">
        <input style="margin: 5px;" type="" placeholder="Type here...">
        <button style="margin:5px;" class="onlineBuilder"> Online Builder </button>
        <table style="margin: 5px;" class="starTable">
            <tr>
                <th class="leftCell">☆Star</th>
                <th class="rightCell">11,178</th>
            </tr>
        </table>
        <span><img src="/assets/icons/setting-5-svgrepo-com.svg" alt="ikon" class="topIcon"></span>
        <span><img src="/assets/icons/notifications-alert-svgrepo-com.svg" alt="ikon" class="topIcon"></span>
        <span><img src="/assets/icons/profile-circle-svgrepo-com.svg" alt="ikon" class="topIcon"></span>

    </div>
</div>
